
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: rgb(28, 117, 190);
  background-repeat: no-repeat;
  background-size: auto;
}

.cover-container {
  max-width: 42em;
  left: 500px;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

#levi_container{
  position: absolute;
  padding-top: 900  px;
}

@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.disppear{
  animation: vanish 4s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0E111F;

}

  /*Alap lodaer clars*/
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    background: #0E111F;
    height: 100%;
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }